<header class="row resume-header text-center py-5">
    <div class="header-content">
        <div class="profile-image">
            <img src="img/pic.png" alt="Profile Picture">
        </div>

        <h1 class="name"></h1>
        <h2 class="title">GRAPHIC & WEB DESIGNER</h2>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br> when an unknown printer took a galley of type and <br> scrambled it to make a type specimen book.</p>
        <blockquote class="quote">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."</blockquote>
    </div>
</header>